<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cms.Dao.CoursetableDao" >
    <select id="QueryCoursetableById" parameterType="string" resultType="com.cms.Entity.Coursetable">
        SELECT * FROM coursetable WHERE studentid=#{username} ORDER BY classNo ASC 
    </select>
    
    <insert id="UpadteCoursetable" parameterType="com.cms.Entity.Coursetable">
        REPLACE INTO coursetable (studentid, classNo, mon, tue, wed, thu, fri, sat, sun) VALUES (#{studentid}, #{classNo}, #{mon}, #{tue}, #{wed}, #{thu}, #{fri}, #{sat}, #{sun})
    </insert>
    
    <select id="QueryDaytableById" parameterType="String" resultType="String">
        SELECT ${day} FROM coursetable WHERE studentid=#{studentid}
    </select>
    
</mapper>