<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cms.Dao.ExamscheduleDao" >
    <insert id="addExamschedule" parameterType="com.cms.Entity.Examschedule">
      INSERT INTO examschedule (studentid, examname, examtime, remark, examplace)VALUE (#{studentid}, #{examname}, #{examtime}, #{remark}, #{examplace})
    </insert>
    
    <select id="QueryExamscheduleById" parameterType="String" resultType="com.cms.Entity.Examschedule">
        SELECT * FROM examschedule WHERE studentid=#{studentid}
    </select>
    
    
    
</mapper>